<div id="controls">
  <input type="text" id="text" size="100" />
  <input type="button" id="search" value="Buscar!" />
</div>
<div id="ejemplo">Ejemplo: panqueue, queso, tomate</div>

<div id="menu"></div>

<script type="text/javascript">
  function get_foods(foods, pieces) {
    var str = "";
    for(var i in foods) {
      var food = foods[i];
      if (!matches(food[<%= Food::Full %>], pieces))
        continue;

      str += '<li>';
      if (food[<%= Food::Number %>] == '') {
        str += ' &nbsp; &nbsp; &nbsp; ';
      } else {
        str += food[<%= Food::Number %>];
        str += '- ';
      }
      str += food[<%= Food::Description %>];
      if (food[<%= Food::DedicatedTo %>]) {
        str += ' (' + food[<%= Food::DedicatedTo %>] + ')';
      }
      str += ' ... $';
      str += food[<%= Food::Price %>];
      str += '</li>';
    }
    return str;
  }

  function get_subcategories(subcategories, pieces) {
    var str = "";
    for(var subcategory in subcategories) {
      var foods = subcategories[subcategory];
      var str_foods = get_foods(foods, pieces);
      if (str_foods.length > 0) {
        if (subcategory.length > 0) {
          str += "<h4>" + subcategory + "</h4>";
        }
        str += "<ul>" + str_foods + "</ul>";
      }
    }
    return str;
  }

  function get_categories(pieces) {
    var str = "";
    for(var category in categories) {
      var subcategories = categories[category];
      var str_sub = get_subcategories(subcategories, pieces);
      if (str_sub.length > 0) {
        str += "<h3>" + category + "</h3>" + str_sub;
      }
    }
    return str;
  }

  function trim(text) {
    return text.replace(/^\s+/g,'').replace(/\s+$/g,'');
  }

  function split(text) {
    text = text.replace(/\by\b/gi, ',');
    text = text.replace(/\bcon\b/gi, ',+');
    text = text.replace(/\b(sin|ni)\b/gi, ',-');
    var pieces = text.split(',');
    var result = [];
    for(var i in pieces) {
      var piece = trim(pieces[i]);
      if (piece != '')
        result.push(fix(piece));
    }
    return result;
  }

  function matches(text, pieces) {
    if (pieces.length == 0) return true;

    var mode = '+'

    for(var i in pieces) {
      var piece = pieces[i];
      if (piece[0] == '-' || piece[0] == '+') {
        mode = piece[0];
        piece = piece.substring(1, piece.length);
        if (piece.length == 0) continue;
      }

      if (mode == '+') {
        if (text.indexOf(piece) < 0) {
          return false;
        }
      } else {
        if (text.indexOf(piece) >= 0) {
          return false;
        }
      }
    }

    return true;
  }

  function fix(text) {
    return text.toLowerCase().replace(/á/g, 'a').replace(/é/g, 'e').replace(/í/g, 'i').replace(/ó/g, 'o').replace(/ú/g, 'u');
  }

  function add_full_text_search() {
    for(var category in categories) {
      var subcategories = categories[category];
      for(var subcategory in subcategories) {
        var foods = subcategories[subcategory];
        for(var i in foods) {
          var food = foods[i];
          var full = category + ' ' + subcategory + ' ' + food[<%= Food::Number %>] + '- ' + food[<%= Food::Description %>] + ' ' + food[<%= Food::DedicatedTo %>] + ' $' + food[<%= Food::Price %>];
          full = fix(full);
          food.push(full);
        }
      }
    }
  }

  var categories = <%= raw @foods_json.to_json %>;
  add_full_text_search();

  var text = document.getElementById("text");
  var menu = document.getElementById("menu");

  menu.innerHTML = get_categories([]);
  document.getElementById("search").onclick = function() {
    menu.innerHTML = get_categories(split(text.value));
  }
  document.getElementById("text").onkeyup = function(e) {
    //if (e.keyCode == 13)
      menu.innerHTML = get_categories(split(text.value));
  }
</script>
